/* src\styles\colors.css */
:root {
  --grey-1: #f4f5f6; /* back text*/
  --grey-2: hsl(210, 5%, 92%); /* back */
  --grey-3: #dcdee0; /* back */
  --grey-b: #bcbfc2; /* border */
  --grey-4: hsl(210, 4%, 31%); /* text */
  --grey-5: hsl(210, 5%, 21%); /* title */
  --green-1: #0a6652; /* buttons title */
  --green-2: hsl(167, 60%, 29%); /* buttons */
  --green-3: #e9f2f0; /* buttons */
  --red-1: #7e2a2a; /* buttons title */
  --red-2: hsl(0, 50%, 60%); /* buttons */
  --red-3: hsl(0, 80%, 90%); /* buttons */
  /* buttons */
  /*  */
  --heading: #1f294a;
  --title: #24305e;
  --border: #407da4;
  --back: #dceff5;
  --green: #0a6652;
  --green-3: #e9f2f0;
  --red: #7e2a2a;
  --accent: #e43f0f;
  --pink: #faabab;
  --yellow: #ffee00;
  --subtitle: #434749;
  --text: #6b7278;
  --grey-3: #dcdee0;
  --grey-b: #bcbfc2;
  --light: #f4f5f6;
}
